


body{
    background-color: black;
}


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


.header{
    width: 100%;
    height: 200px;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.header input{
    width: 450px;
    padding: 10px;
    outline: 0;
    border: 1px #fff solid;
    border-radius: 2px ;
}


.btn{
    width: 150px;
    display: block;
    padding: 5px;
    margin-top: 1rem;
    background-color: transparent;
    color: white;
    text-transform: uppercase;
    border: 2px solid #fff;
    outline: 0;
    cursor: pointer;
    transition: all .1S ease;
}

.btn:hover{
    background-color: gray;
}

.container{
    width: 100%;
    height: auto;
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.container h3{
    text-align: center;
    text-transform: uppercase;
    color: #969393;
    padding: 5px;
}

#list{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    list-style: none;
}

.items{
    width: 80%;
    height: auto;
    display: flex;
    margin-top: 10px;
    border-bottom: 1px solid #ccc;
    justify-content: space-between;
}

.items p{
    padding: 10px;
    font-size: 20px;
}

.delete-task{
    width: 100px;
    border-radius: 2px;
    padding: 5px;
    border: 0;
    outline: 0;
    background-color: gray;
    display: block;
    margin-bottom: 10px;
    color: #fff;
    text-transform: uppercase;
    transition: all .1S ease-in;
    cursor: pointer;
    font-size: 12px;
}

.delete-task:hover{
    opacity: .75;
}

.contenedor{
    text-align: center;
}

.imagen{
    width: 600px; ;
}

.boton-redireccion{
  background-color: white; 
  border: none;
  color: black;
  padding: 15px 32px;
  text-decoration: none;
  font-size: 1.4rem;
  border-radius: 12px;
  font-family: sans-serif;
}

img{
    height: 60vh;
    display: flex;
}

img{
    margin: auto;
    cursor: pointer;
    transition: 4s;
}

img:hover{
    transform: scale(1.2);
    transition: 2s;
}

.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.social-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.icon-element{
    list-style: none;
}

.icon{
    color: white;
    font-size: 32px;
    display: inline-block;
    margin: 0 10px;
    transition: 0.5s;
}

.icon:hover{
    transform: translateY(-10px);
}

.menu{
    display: flex;
    justify-content: center;
    position: relative;
    align-items: center;
    margin: 10px 0;
    flex-wrap: wrap;
}

.menu-element{
    list-style: none;
}

.menu-icon{
    color: white;
    font-size: 20px;
    display: inline-block;
    text-decoration: none;
    margin:5px 10px;   
    opacity: 0.75;
    transition: 0.3s;
}

.menu-icon:hover{
    opacity: 1;
}


body{
    font-family: Arial, Helvetica, sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    text-align: left;
    align-items: center;
    justify-content: center;
}

form{
    background-image: url(adidassler.jpg);
    padding: 50px 55px;
    box-shadow:  0 0 20px white;
    border-radius: 20px;
    text-align: center;
    width: 340px;
}

.input-group{
    display: flex;
    flex-direction: column;
    text-align: left;
}

h2{
    color: white;
    font-size: 30px;
    margin: 15px;
}

label{
    color: #283629;
    font-size: 15px;
    font-weight: 600px;
    margin-bottom: 15px;
}

input,textarea{
    padding: 17px 25px;
    border-radius: 25px;
    margin-bottom: 20px;
    background-color: white;
    border: 2px solid white;
    color: #283629;
    outline: none;
}

input::placeholder, textarea::placeholder{
    color: gray;
}

.form-txt{
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.form-txt a{
    color: white;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
}

.btn{
    background-color: #51D94C;  
}
